__pycache__/

data/__pycache__

data/Kaggle Wind Power Forecasting Data

data/Kaggle Wind Turbine Power (kW) Generation Data

result/

notebook/result/

venv/

./.ipynb_checkpoints/

./__pycache__/

test_plot.py

concat_dataframe.py